
            body{
        		background-color: maroon;
        		color: white;
            }
            #profile-pic{
        		height: 200px;
        		width: 200px;
        		text-align: center;
            }
            .fav-songs{
			font-weight: bold;
            }
            table, th, td{
                        border: 1px;
            }

	
