
           body{
        		background-color: maroon;
        		color: white;
			   	text-align: center;
      		}
      		#profile-pic{
        		height: 200px;
        		width: 200px;
        		text-align: center;
      		}
			.fav-songs{
			     font-weight: bold;
		    }

	
